127.0.0.1	localhost
127.0.1.1	{{ hostname }}

# The following lines are desirable for IPv6 capable hosts
::1     ip6-localhost ip6-loopback
fe00::0 ip6-localnet
ff00::0 ip6-mcastprefix
ff02::1 ip6-allnodes
ff02::2 ip6-allrouters

192.168.1.200 faraday faraday.engr.ccny.cuny.edu
192.168.1.201 fisher fisher.engr.ccny.cuny.edu
192.168.1.198 fock fock.engr.ccny.cuny.edu
192.168.1.202 fubini fubini.engr.ccny.cuny.edu
192.168.1.204 franklin franklin.engr.ccny.cuny.edu
192.168.1.205 feynman feynman.engr.ccny.cuny.edu
192.168.1.212 fermi fermi.engr.ccny.cuny.edu
192.168.1.213 foucault foucault.engr.ccny.cuny.edu
192.168.1.211 fresnel fresnel.engr.ccny.cuny.edu
192.168.1.251 glasslab glasslab.engr.ccny.cuny.edu
134.74.146.39 glasslab glasslab.engr.ccny.cuny.edu
192.168.1.207 glasslab-nas glasslab-nas
192.168.1.1 glasslab_wireless glasslab_wireless
192.168.1.210 frechet frechet.engr.ccny.cuny.edu
192.168.1.220 glassprint glassprint.engr.ccny.cuny.edu
192.168.1.222 capuntu capuntu.engr.ccny.cuny.edu
192.168.1.245 ford ford.engr.ccny.cuny.edu
192.168.1.244 fink fink.engr.ccny.cuny.edu
192.168.1.214 fermat fermat.engr.ccny.cuny.edu
192.168.1.203 fourier fourier.engr.ccny.cuny.edu
192.168.1.206 frankenstein frankenstein.engr.ccny.cuny.edu
192.168.1.208 fitpc fitpc.engr.ccny.cuny.edu
192.168.1.186 golay golay.engr.ccny.cuny.edu
192.168.1.185 einstein einstein.engr.ccny.cuny.edu
192.168.1.182 gauss gauss.engr.ccny.cuny.edu
192.168.1.11 flemming flemming.engr.ccny.cuny.edu
192.168.1.209 forbes forbes.engr.ccny.cuny.edu
192.168.1.197 siberia siberia.engr.ccny.cuny.edu

# additions from summer 2014
192.168.1.215 feshbach feshbach.engr.ccny.cuny.edu
192.168.1.216 fraunhofer fraunhofer.engr.ccny.cuny.edu
192.168.1.218 fitch fitch.engr.ccny.cuny.edu
192.168.1.219 fahrenheit fahrenheit.engr.ccny.cuny.edu

# home network
192.168.10.3 nas
